## Exercise N.2

In [17]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [18]:
# Web scraping
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
page=requests.get(url).text
soup=BeautifulSoup(page,'html.parser')

data_toronto=pd.DataFrame(columns=['Postcode','Borough','Neighbourhood'])

for i in np.arange(1,288):
    data_toronto.loc[i,'Postcode']=soup.find_all('tr')[i].find_all('td')[0].text
    data_toronto.loc[i,'Borough']=soup.find_all('tr')[i].find_all('td')[1].text
    data_toronto.loc[i,'Neighbourhood']=soup.find_all('tr')[i].find_all('td')[2].text.split('\n')[0]

# data toronto
data_toronto=data_toronto.loc[data_toronto.Borough!='Not assigned'].reset_index(drop=True)

data_toronto_final=data_toronto.groupby(['Postcode','Borough'],sort=False).agg( ', '.join)
data_toronto_final.reset_index(inplace=True)
data_toronto_final.head()

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto                      Harbourfront
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A  Downtown Toronto                      Queen's Park

In [29]:
data_toronto_final.Borough.value_counts()

North York          24
Downtown Toronto    19
Scarborough         17
Etobicoke           11
Central Toronto      9
West Toronto         6
York                 5
East Toronto         5
East York            5
Queen's Park         1
Mississauga          1
Name: Borough, dtype: int64

#### We will use the data on the next page: http://cocl.us/Geospatial_data. to obtain the latitus and length

In [24]:
#!Wget -q -O 'Geospatial_Coordinates.csv'  http://cocl.us/Geospatial_data
data_lat_lon_Toronto=pd.read_csv('Geospatial_Coordinates.csv')
data_lat_lon_Toronto.rename(columns={'Postal Code':'Postcode'},inplace=True)

In [25]:
data_lat_lon_Toronto.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

#### Uniting the data

In [26]:
df_toronto=pd.merge(data_toronto_final,data_lat_lon_Toronto,on='Postcode')

In [27]:
df_toronto.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Harbourfront,43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M7A,Downtown Toronto,Queen's Park,43.662301,-79.389494